<%= form_with(model: dish, class: "restaurant-form") do |form| %>
  <%= render 'shared/errors', obj: @dish %>

  <h1><%= @dish.new_record? ? "New Dish" : "Edit Dish" %></h1>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :price %>
    <%= form.text_field :price, class: "form-control" %>
  </div>

   <% if @dish.new_record? %>
    <p>
      <%= form.hidden_field :restaurant_id, value: params[:restaurant_id] %>
    </p>
  <% end %>
  
  <div class="save-group">
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>
     <% if @dish.new_record? %>
  <div>
  <%= link_to "Back to restaurant", restaurant_path(params[:restaurant_id]) %>
</div>
  <% else %>
  <div>
  <%= link_to "Back to restaurant", @dish.restaurant %> | <%= link_to "Back to restaurants", restaurants_path %>
</div>
<% end%>
<% end %>