<div class="dish-container">
  <h1><%= @dish.name %></h1>
  <p><strong>Price:</strong> <%= @dish.price %></p>
  <p><strong>Restaurant:</strong> <%= @dish.restaurant.name %></p>

        <% if @dish.reviews.any? %>
      <b> Average Rating: </b><%= @dish.average_rating %><br />
    <% end %>

  <%= form_for [@dish, Review.new] do |f| %>
  <div class="form-group radio-buttons">
    <b><%= f.label :rating %>:</b>
    <% [1, 2, 3, 4, 5].each do |value| %>
      <%= f.radio_button :rating, value %>
      <%= label_tag "rating_#{value}", value, class: "radio" %>
    <% end %>
  </div>


    <div class="form-group">
      <b><%= f.label :Feedback %>:</b>
      <%= f.text_area :content, rows: 4, class: "form-control" %>
    </div>

    <%= f.submit "Submit Review", class: "btn btn-primary" %>
  <% end %>
  <h2>Reviews:</h2>
  <% if @dish.reviews.any? %>
    <% @dish.reviews.each do |review| %>
      <div class="review">
        <p><strong>Rating:</strong> <%= review.rating %></p>
        <p><%= review.content %></p>
      </div>
    <% end %>
  <% else %>
    <p>There are no reviews.</p>
  <% end %>

  <% if current_user && current_user.role == "Admin"%>
    <div class="admin-links">
      <%= link_to "Edit this dish", edit_dish_path(@dish) %> |
      <%= link_to 'Destroy', @dish, data: {turbo_method: :delete, turbo_confirm: 'Are you sure want to delete?'} %>
    </div>
  <% end %>

  <%= link_to "Back to restaurants", restaurants_path %>
  |
  <%= link_to "Back to restaurant", @dish.restaurant %>
</div>
