<%= form_with(model: restaurant, class: "restaurant-form") do |form| %>
  <%= render 'shared/errors', obj: @restaurant %>

  <h1><%= @restaurant.new_record? ? "New Restaurant" : "Edit Restaurant" %></h1>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :status %>
    <%= form.radio_button(:status, "true") %>
    <%= form.label(:status, "Open") %>
    <%= form.radio_button(:status, "false") %>
    <%= form.label(:status, "Closed") %>
  </div>

  <div class="save-group">
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>
       <% if @restaurant.new_record? %>
  <div>
  <%= link_to "Back to restaurants", restaurants_path %>
</div>
  <% else %>
  <div>
  <%= link_to "Back to restaurant", @restaurant %> | <%= link_to "Back to restaurants", restaurants_path %>
</div>
<% end %>
<% end %>

